<meta charset="utf-8">
<title>AutoViz - IoT Control-Flow and Data Management Made Easy</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="iot,autoviz,automation,vizualiztion,data engineering,system engineering, " name="keywords">
<meta content="AutoViz is providing developers with 
               simpler yet more effective methods for directing 
               control-flow and data transmission for various IoT devices." 
               name="description">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet"> 

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="/static/lib/animate/animate.min.css" rel="stylesheet">
<link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
<link href="/static/css/bootstrap_bootswatch_zephyr.css" rel="stylesheet">

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">