<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head'); %>
    <link href="/static/css/style.css" rel="stylesheet">
    <style>

    </style>
  </head>
  <body>
    <%- include('./partials/navbar', { active_page: "profile" }); %>

    
  </body>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</html>